[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git://github.com/ewiplayer/vim-scala.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T.git
